{% extends 'app1/base.html' %}

{% block body %}
    {% load static %}
    
    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h3 class="mb-0">QUALITY CERTIFICATE</h3></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card radius-15" style="background-color: #243e54;">
            <div class="card-body">
                {% comment %} <a class="" href="#">
                    <button id="myBtn" class="btn btn-outline-info text-grey">Download
                        
                    </button></a> {% endcomment %}
                    <a class="" href="{% url 'edit_certificate_page' certificate.id %}"> 
                        <button id="myBtn" class="btn btn-outline-info text-grey">Edit
                            
                        </button>
                        <a class="" href="{% url 'delete_certificate' certificate.id %}">
                            <button id="myBtn" class="btn btn-outline-info text-grey">Delete
                                
                            </button></a>
                
                <hr/>
                <div class="card radius-15 p-5" style="margin-bottom: 50px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rectangle"
                                     style=" overflow: scroll; background-color:rgba(255, 255, 255, 0.905);;;;width: 100%;height:2000px;border: 3px white;padding: 50px;">
                                    <div class="rectangle"
                                         style="background-image: linear-gradient(dodgerblue, black); width: 100%; height: 200px; margin-top: 20px;">
                                        <div class="img-container"
                                             style="width: 140px; height: 140px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 50%; background-color: white; transform: translate(23%, 90%);">
                                             <img src="{% static 'f.jpg' %}" class="w-100" alt="url" style="border-radius:70px;">
                                        </div>
                                        
                                    </div>
                                   
                                    
                                    <table class="table text-dark " style="position: absolute;left: 180px;top: 400px;width: 900px;color: black;
                                    font-size: 22px; height:700px;">
                                        <tr >
                                            <th class=" text-dark">Date</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_date }}</td>
                                        </tr>
                                        <tr>
                                            <th class=" text-dark">Product Name</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_pname }}</td>
                                        </tr> 
                                        <tr>
                                            <th class=" text-dark">SKU Number</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_sku }}</td>
                                        </tr>
                                        <tr> 
                                            <th class=" text-dark">Custumer Name</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_custumername }}</td>
                                        </tr> 
                                        <tr> 
                                            <th class=" text-dark">Date Of Inspection</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_inspdate }}</td>
                                        </tr>
                                    </table>   
                                    <section class="" style="position: absolute;left: 280px;bottom: 800px;">
                                        <h5 class="text-dark">I agree With All The Terms And Conditions</h5>
                                        <input checked="" type="checkbox" id="cbx" class="hidden-xs-up" style="position: absolute;left: -15px;bottom: 13px;">
                                        <a class="" href="#">
                                            <button id="myBtn" class="btn btn-outline-info text-dark" style="position: absolute;left: 250px;bottom: -60px; color:black;">Download
                                                
                                            </button></a>

                                    </section>  
                                    
                                    
                            </div>
                        
                        </div>
                    </div>
                </div>
                
                    
                    
                        
                       
                
            </div>
            
        </div>
    </div>
   
   
{% endblock %}